<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header'); %>
    <title>Practice Website</title>
</head>
<body>

    <%- include('partials/navbar'); %>
    <% posts.forEach(function(post){ %>
        <%- include('partials/postPanel', {post: post}); %>
    <% }); %>
    <!-- inPost -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4638272526574594"
        data-ad-slot="6928629330"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</body>
</html>