<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header'); %>
    <title>Sign Up Page</title>
</head>
<body>
    <%- include('partials/navbar'); %>

      <div class="container">
        <div class="well well-lg">
            <form class="well-form" action="/sign-up" method="post">
                <div class="form-group maintxt">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group maintxt">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" name="pwd" required>
                </div>
                <div class="form-group maintxt">
                    <label for="usern">Username:</label>
                    <input type="username" class="form-control" id="usern" name="usern" required>
                </div>
                <div class="checkbox maintxt">
                  <label><input type="checkbox">Agree to terms and conditions</label>
                </div>
                <button type="submit" class="btn btn-default" style="display: inline;">Submit</button> <p>Already have an account? <a href="/sign-in" style="color: rgb(225, 193, 255); display: inline;">Sign In</a></p>
                
              </form>
        </div>
      </div>
</body>
</html>